<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SB Admin pro - قالب داشبورد مدیریت بوت‌استرپ - ایجاد سازمان افزودن کاربر</title>

    <link rel="stylesheet" href="../../assets/css/fonts.css">
    <link rel="stylesheet" href="../../assets/css/boxicons.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
  </head>
  <body class="bg-primary is-rtl">


  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">

      <main>
        <div class="container-xl px-4">
          <div class="row justify-content-center">
            <!-- Create Organization-->
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
              <div class="card mt-5">
                <div class="card-body p-3 text-center">
                  <div class="icons-org-create align-items-center mx-auto">
                    <i class="bx bx-user-plus icon-plus" style="padding-top: 16px; position: unset;font-size: 4.5rem" ></i>
                  </div>
                  <div class="h3 text-primary">چه کسانی عضو این سازمان هستند؟</div>
                </div>
                <hr class="m-0">
                <div class="card-body p-5">
                  <form>
                    <div class="mb-3"><input class="form-control form-control-solid" type="text" placeholder="ایمیل آن ها را وارد کنید" aria-label="افزودن کاربر" aria-describedby="addUser"></div>
                    <div class="mb-3"><input class="form-control form-control-solid" type="text" placeholder="ایمیل آن ها را وارد کنید" aria-label="افزودن کاربر" aria-describedby="addUser"></div>
                    <div class="mb-3"><input class="form-control form-control-solid" type="text" placeholder="ایمیل آن ها را وارد کنید" aria-label="افزودن کاربر" aria-describedby="addUser"></div>
                    <div class="mb-3 text-end">
                      <button class="btn btn-link p-0">
                        <i class="bx bx-plus me-1"></i>
                        عضو جدید
                      </button>
                    </div>
                    <div class="d-grid mb-3"><a class="btn btn-primary" href="../auth/login/cover.html">افزودن عضو</a></div>
                    <div class="mb-3 mb-5">
                      <a class="d-flex align-items-center" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link me-1"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
                        دریافت کد دعوت و اشتراک گذاری
                      </a>
                    </div>
                    <div class="mb-0 text-center">
                      یا,
                      <a href="../auth/login/cover.html">فعلا رد شو</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

    </div>
    <div id="layoutAuthentication_footer">
      <footer class="footer-admin mt-auto footer-dark">
        <div class="container-xl px-4">
          <div class="row">
            <div class="col-md-6 small">طراحی شده با ❤️ ارائه شده در وب‌سایت راست‌چین</div>
            <div class="col-md-6 text-md-end small">
              <a href="#!">قوانین و مقررات</a>
              ·
              <a href="#!">لایسنس ها</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>


  <script src="../../assets/js/bootstrap.bundle.min.js" ></script>
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/jquery.js"></script>


  </body>
</html>