<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SB Admin pro - قالب داشبورد مدیریت بوت‌استرپ - ایجاد سازمان</title>

    <link rel="stylesheet" href="../../assets/css/fonts.css">
    <link rel="stylesheet" href="../../assets/css/boxicons.css">

    <link rel="stylesheet" href="../../assets/css/style.css">

  </head>
  <body class="bg-primary is-rtl">


  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container-xl px-4">
          <div class="row justify-content-center">
            <!-- Create Organization-->
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
              <div class="card mt-5">
                <div class="card-body p-5 text-center">
                  <div class="icons-org-create align-items-center mx-auto">
                    <i class="icon-plus bx bx-user-plus" style="font-size: 3.5rem"></i>
                  </div>
                  <div class="h3 text-primary mb-0 mt-5">ایجاد سازمان</div>
                </div>
                <hr class="m-0">
                <div class="card-body p-5">
                  <form>
                    <div class="mb-3"><input class="form-control form-control-solid" type="text" placeholder="نام سازمان را وارد کنید" aria-label="نام سازمان" aria-describedby=""></div>
                    <div class="d-grid"><a class="btn btn-primary" href="multi-select-add-users.html">ایجاد سازمان</a></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div id="layoutAuthentication_footer">
      <footer class="footer-admin mt-auto footer-dark">
        <div class="container-xl px-4">
          <div class="row">
            <div class="col-md-6 small">طراحی شده با ❤️ ارائه شده در وب‌سایت راست‌چین</div>
            <div class="col-md-6 text-md-end small">
              <a href="#!">قوانین و مقررات</a>
              ·
              <a href="#!">لایسنس ها</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  
  <script src="../../assets/js/bootstrap.bundle.min.js" ></script>
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/jquery.js"></script>


  </body>
</html>