<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SB Admin pro - قالب داشبورد مدیریت بوت‌استرپ - ثبت نام چندتایی</title>

    <link rel="stylesheet" href="../../assets/css/fonts.css">
    <link rel="stylesheet" href="../../assets/css/boxicons.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
  </head>
  <body class="bg-primary is-rtl">


  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container-xl px-4">
          <div class="row justify-content-center">
            <!-- Create Organization-->
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11 mt-4">
              <div class="card text-center h-100">
                <div class="card-body px-5 pt-5 d-flex flex-column">
                  <div>
                    <div class="h3 text-primary">ایجاد</div>
                    <p class="text-muted mb-4">ایجاد سازمان و دعوت از دوستان</p>
                  </div>
                  <div class="icons-org-create align-items-center mx-auto mt-auto">
                    <i class="bx bx-user-plus icon-plus" style="padding-top: 16px; position: unset;font-size: 4.5rem" ></i>
                  </div>
                </div>
                <div class="card-footer bg-transparent px-5 py-4">
                  <div class="small text-center"><a class="btn btn-block btn-primary" href="multi-select-create.html">ایجاد سازمان جدید</a></div>
                </div>
              </div>
            </div>
            <!-- Join Organization-->
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11 mt-4">
              <div class="card text-center h-100">
                <div class="card-body px-5 pt-5 d-flex flex-column align-items-between">
                  <div>
                    <div class="h3 text-secondary">عضویت</div>
                    <p class="text-muted mb-4">با کد عضویت به سازمان خود وارد شوید</p>
                  </div>
                  <div class="icons-org-join align-items-center mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user icon-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                    <i class="bx bx-left-arrow-alt bx-lg icon-user" style="padding-top: 16px" ></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users icon-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                  </div>
                </div>
                <div class="card-footer bg-transparent px-5 py-4">
                  <div class="small text-center"><a class="btn btn-block btn-secondary" href="multi-select-join.html">عضویت در سازمان</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div id="layoutAuthentication_footer">
      <footer class="footer-admin mt-auto footer-dark">
        <div class="container-xl px-4">
          <div class="row">
            <div class="col-md-6 small">طراحی شده با ❤️ ارائه شده در وب‌سایت راست‌چین</div>
            <div class="col-md-6 text-md-end small">
              <a href="#!">قوانین و مقررات</a>
              ·
              <a href="#!">لایسنس ها</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>


  <script src="../../assets/js/bootstrap.bundle.min.js" ></script>
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/jquery.js"></script>


  </body>
</html>